
<ion-header>

</ion-header>


<ion-content>
  <div class="Product" *ngFor="let product of products let i=index">
    <div class="ProductRight">
      <p class="priceDv"> {{product.price}}<span>$</span> &nbsp; </p>
    </div>

    <div class="ProductCenter">
      <span *ngIf="defaultLangage == 'he'">{{product.name}}</span>
      <span *ngIf="defaultLangage == 'en'">{{product.name_english}}</span>
      <p>{{product.Qnt}} Qnt &nbsp; </p>

    </div>



    <div class="ProductLeft" (click)="deleteProduct(i)">
      <img src="{{ServerHost+product.image}}" class="w100"  />
    </div>
  </div>

 <!-- <ion-list radio-group [(ngModel)]="Pay" class="CB item-borderless" no-lines>
    <ion-item class="CBright" no-lines>
      <ion-label item-right class="CoLabel"> {{'credittext' | translate}}</ion-label>
      <ion-radio  item-right value="1" name="1" class="CoLabel" checked></ion-radio>
    </ion-item>
    <ion-item class="CBright" no-lines>
      <ion-label item-right class="CoLabel">{{'cashtext' | translate}}</ion-label>
      <ion-radio  item-right value="0" name="0" class="CoLabel" [disabled]="isDisabled"></ion-radio>
    </ion-item>
  </ion-list>-->


</ion-content>


<ion-footer style="background-color: #f1f1f1 !important; height: 70px; ">
  <div class="inviteFooter" (click)="checkLoggedIn()">
      <div class="inviteFooterRight">
        $ Total : {{TotalPrice}}
      </div>
      <div class="inviteFooterLeft" >
        <img src="{{'addtobasketimage' | translate}}" class="w100"  />
      </div>
  </div>
  <!--<footer></footer>-->
</ion-footer>



