<ion-content style="background-color: #f7f7f7">
    <div class="Content">
        <div>
            <img src="{{ServerHost+Product.details_image}}" class="ImageW"/>
            <div class="closeButton" (click)="goback()">
                <ion-icon class="addIcon" name="ios-arrow-back"></ion-icon>
            </div>
            <div class="FavButton" (click)="changeFav()">
                <img *ngIf="Fav == 0" src="images/e_heart1.png" style="width: 100%" />
                <img *ngIf="Fav == 1" src="images/f_heart.png" style="width: 100%" />
            </div>
            <div class="BasketButton" (click)="goToBasket()">
                <ion-icon class="addIcon" name="ios-basket-outline"></ion-icon>
                <span class="badgeText">{{BasketLen}}</span>
            </div>
        </div>



        <div class="SingleTitle">
           <!-- <div class="SingleTitleLeft" align="center">
                <div style="width:90%">
                    <img src="{{ServerHost+Product.image}}" class="ImageW"/>
                </div>
            </div> -->
            <!--<div *ngIf="defaultLangage == 'he'" class="SingleTitleLeft">{{Product.title}}</div>-->
            <div class="SingleTitleLeft">{{Product.title_english}}</div>
            <div class="SingleTitleRight">34$</div>
        </div>
        <div class="shipped">
            <img src="images/shipped.png" style="width: 100%" />
        </div>


        <ion-list>
            <div>
                <button ion-item (click)="openItem(0)" no-border>
                    <div item-start>
                        <ion-icon class="addIcon" name="ios-add"></ion-icon>
                    </div>
                    <div item-content class="itemTitle">Product Description</div>
                </button>
                <ion-item *ngIf="AC1 == 'expanded'" no-border>
                    <div item-content [innerHTML]='Product.description_english' class="itemDesc"></div>
                </ion-item>
            </div>
        </ion-list>

        <ion-list>
            <div>
                <button ion-item (click)="openItem1(0)" no-border>
                    <div item-start>
                        <ion-icon class="addIcon" name="ios-add"></ion-icon>
                    </div>
                    <div item-content class="itemTitle">Reviews</div>
                </button>
                <ion-item *ngIf="AC2 == 'expanded'" no-border>
                    <div item-content  class="itemDesc">here comes reviews</div>
                </ion-item>
            </div>
        </ion-list>



        <!-- <div *ngIf="defaultLangage == 'he'" class="singleInfo">{{Product.description}}</div>
         <div *ngIf="defaultLangage == 'en'" class="singleInfo">{{Product.description_english}}</div>
         <div style="width: 100%" align="center">
             <div class="singlePrice">
                 {{'priceuntiltext' | translate}}&nbsp;<span>3</span>&nbsp; {{'kilotext' | translate}} &nbsp;<span>{{Product.low_price}}</span>&nbsp;
                 {{'nistext' | translate}}&nbsp;&nbsp; &nbsp;| {{'priceabovetext' | translate}}&nbsp;<span>3</span>&nbsp;
                 {{'kilotext' | translate}} &nbsp;<span>{{Product.high_price}}</span>&nbsp; {{'nistext' | translate}}&nbsp;
             </div>
         </div>

         <div class="singleQnt">
             <div class="singleQntRight">
                 {{'choosequantext' | translate}}
             </div>
             <div class="singleQntCenter" no-lines>

                 <ion-input type="number" [value]="Qnt" name="Qnt" [(ngModel)]="Qnt" class="QntInput"
                            no-lines></ion-input>
             </div>


             <div class="singleQntLeft">
                 {{'kilotext' | translate}}
             </div>
         </div>-->
    </div>

</ion-content>

<ion-footer no-border style="background-color: #f7f7f7">
    <table class="footerClass">
        <tr>
            <td (click)="AddToBasket()">
                <img src="images/add_to_bag.png" style="width: 100%" />
            </td>
            <td (click)="goToBasket()">
                <img src="images/go_to_basket.png" style="width: 100%" />
            </td>
        </tr>
    </table>
</ion-footer>
<!--
<ion-footer style="background-color: darkblue !important; height: 130px; ">
    <div class="inviteFooter" (click)="AddToBasket()">
        {{'ordertext' | translate}}
    </div>
    <footer></footer>
</ion-footer>-->
