    <ion-header>
        <header></header>
    </ion-header>




    <ion-content>
        <div class="AboutTitle">{{'aboutustitle' | translate}}</div>
        <div *ngIf="defaultLangage == 'he'" class="AboutDescription" [innerHTML]="AboutContent"></div>
        <div *ngIf="defaultLangage == 'en'" class="AboutDescription" [innerHTML]="AboutContentEnglish"></div>

        <img src="{{MainImg}}" style="width: 100%" />

        <div>
            <iframe width="100%" height="200" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
        </div>

    </ion-content>

    <ion-footer class="FooterClass">
        <footer></footer>
    </ion-footer>
