page-about {

}


.AboutTitle
{
  text-align: center;
  color: #00006f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.AboutDescription
{
  padding: 25px;
  text-align: right;
  direction: rtl;
  margin-top: 0px;
  padding-top: 5px;
}
