<!--&lt;!&ndash; Generated template for the MainHeaderComponent component &ndash;&gt;-->
<!--<ion-navbar primary>-->
  <!--<ion-buttons right>-->
    <!--<button (click)="goToBasket()" *ngIf="isAvailble">-->
      <!--{{BasketPrice}}-->
    <!--</button>-->
  <!--</ion-buttons>-->
  <!--<ion-buttons left>-->
    <!--<div style="background-color:#fff;">-->
      <!--<div><img src="images/logo.png" style="width: 80px; padding: 4px;"></div>-->
    <!--</div>-->
  <!--</ion-buttons>-->
<!--</ion-navbar>-->



<ion-toolbar no-border-top class="ToolBarClass">
  <div class="ToolBarBackButton">
    <button  ion-button icon-only clear navPop>
      <ion-icon style="color:black" name="ios-arrow-back-outline"></ion-icon>
    </button>
  </div>
  <div class="ToolBarTitle">
    <ion-title>
      <img src="images/logo.png" class="headLogo"  />
    </ion-title>
  </div>

  <ion-buttons right class="Price">
    <div (click)="goToBasket()" *ngIf="BasketTotalPrice > 0">
      {{BasketTotalPrice}} $
    </div>
  </ion-buttons>


</ion-toolbar>
