<ion-content>

  <ion-row>
    <ion-col text-right padding-right>
      <ion-icon name="close" style="font-size: 30px;" (click)="closeModal()"></ion-icon>
    </ion-col>
  </ion-row>

  <div class="div90" text-center>
    <img src="{{img_url}}" class="w100" />
  </div>

</ion-content>
