<ion-header style="height: 90px;">
  <ion-navbar primary >

    <ion-buttons right>
        <button class="HeaderMenuButton"  ion-button icon-only menuToggle end>
            <ion-icon name="md-menu"></ion-icon>
        </button>
             <!--<button (click)="goToBasket()">-->
        <!--{{BasketPrice}}-->
      <!--</button>-->
    </ion-buttons>
    <ion-buttons left>
      <div style="background-color:#fff;">
          <div><img src="images/logo.png" style="width: 190px; padding: 4px;"></div>
      </div>
    </ion-buttons>
  </ion-navbar>
    <ion-scroll class="customMenuScroll" scrollX="true" (click)="onGoToShopPage()">
        <div  *ngFor="let item of Categories" class="video-block1" text-center> {{item.title}} <div class="video-block1" text-center>|</div> </div>
    </ion-scroll>

</ion-header>

<ion-content>

  <div  style="margin-bottom: -200px" >
      <ion-slides>
          <ion-slide>
              <img src="images/home/1.jpg" style="width: 100%" />
          </ion-slide>
          <ion-slide>
              <img src="images/home/2.jpg" style="width: 100%" />
          </ion-slide>
          <ion-slide>
              <img src="images/home/5.jpg" style="width: 100%" />
          </ion-slide>
          <ion-slide>
              <img src="images/home/4.jpg" style="width: 100%" />
          </ion-slide>
      </ion-slides>

      <div *ngFor="let product of MainCategories let i=index" >
          <div class="homeCatTitle" (click)="onGoToShopPage()">{{product.title}}</div>
          <ion-scroll class="customScroll" scrollX="true">
              <div text-center>
                  <div class="homeProduct video-block" *ngFor="let item of product.cat_products let j=index" (click)="imageClick(i,j)">
                      <img *ngIf="item.image"  [src]="ServerHost+item.image" style="width:100%" />
                      <div>
                          <p class="Title">{{item.title}}</p>
                          <p class="homeTitle">Next  </p>
                          <p class="homeDescription">78 views  </p>
                      </div>
                  </div>
              </div>
          </ion-scroll>
      </div>


      <!--
    <button ion-button clear class="Height100 no-padding"><img   (click)="onGoToAboutPage()" src="{{'home_about' | translate}}" style="width: 100%;" /></button>
    <button ion-button clear class="Height100 no-padding mt2"><img (click)="onGoToShopPage()" class="mt1"   src="{{'home_shop' | translate}}" /></button>
    <button ion-button clear class="Height100 no-padding mt2"><img class="mt1"   src="{{'home_contact' | translate}}" (click)="onGoToContactPage()" /></button> -->
  </div>
</ion-content>
<!--
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer> -->