page-home
{
  .customScroll , .scroll-zoom-wrapper, .scroll-zoom-wrapper div {
    height: 35vh;
    white-space: nowrap;
  }

  .customMenuScroll
  {
    height: 5vh;
    white-space: nowrap;
    display: flex;
  }

  .video-block {
    display: inline-block;
    height: 31vh;
    width: 30vw;
    padding: 10px;
  }

  .video-block1 {
    display: inline-block;
    height: 31vh;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .Title
  {
    white-space: normal;
    text-align: left;
    height: 33px;
  }
}

.icon
{
  width: 19%;
  margin-top:0px;
}

.homeCatTitle
{
  padding: 10px;
}

.homeProducts
{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}

.homeProduct
{
  font-size: 12px;
  margin-left: 2%;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.homeTitle {
  font-size: 11px;
  margin-top: -13px;
  text-align: left;
}

.homeDescription
{
  font-size: 8px;
  margin-top: -10px;
  text-align: left;
}


