// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.mt1
{
  margin-top: 1px;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}

.w100
{
  width: 100%;
}

.Height100
{
  height: auto;
}


.alertRtl
{
  direction: rtl;
  text-align: right;
}
.toolbar-background {
  background-color:white; /* #00006f*/;
}


.ToolBarClass
{
  width:100%;
  overflow:hidden;
  background-color:white; /* #00006f*/;
}

.ToolBarBackButton
{
  width:25%;
  float:left;
  color: white;
}

.ToolBarTitle
{
  width:35%;
  float:left;
  text-align:center;
  margin-top:3px;
  margin-left: 7%;
}

.FooterClass
{
  background-color:#00006f !important;
  height: 80px;
}

.HeaderMenuButton
{
  font-size: 22px;
}
