<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header></header>
</ion-header>



<ion-content padding>
    <ion-item no-lines class="RegTitle">
      <label>{{'registertitletext' | translate}}</label>
    </ion-item>

  <ion-list class="Inputs">
    <ion-item>
      <ion-label floating>{{'fullnametext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Details.name" name="name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'addresstext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Details.address" name="address" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'emailtext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Details.mail" name="mail" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'passwordtext' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="Details.password" name="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'phonetext' | translate}}</ion-label>
      <ion-input type="tel" [(ngModel)]="Details.phone" name="phone" ></ion-input>
    </ion-item>

    <ion-item style="margin-top: 20px;" no-lines>
      <ion-label>{{'newslettertext' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="Details.newsletter" ></ion-checkbox>
    </ion-item>

    <div style="width: 100%; margin-top: 20px;" align="center" (click)="doRegister()">
      <div style="width: 90%">
        <button ion-button color="primary" style="width: 100%">{{'sendtext' | translate}}</button>
      </div>
    </div>



  </ion-list>
</ion-content>
<ion-footer class="FooterClass">
  <footer></footer>
</ion-footer>